h1, h2, h3, #picture, #links {
    text-align: center;
}

h2 {
    font-size: 18pt;
    color: #3873b2;
}

h3 {
    font-style: italic;
}

body {
    color: black;
    background-color: #b7daff;
    margin-top: 20px;
}

#contact-list {
    margin-top: 20px;
}
